html{
  background: url(../images/waves.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica Neue", sans-serif; 
}

.prof-box{
  width: 400px;
  height: 620px;
  background: rgba(230, 230, 230, 0.6);
  padding: 40px;
  color:black; 
  margin: 0 auto; 
  margin-top: 2%; 
  text-align: center;
}

.prof-pic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  object-fit: cover;
  object-position: center right;
}

h1{
  font-weight: 100;
  letter-spacing: 4;
  font-size: 40px;
}

h5{
  font-weight: 200;
  letter-spacing: 1;
  text-align: left; 
}

p{
  font-weight: 200;
  letter-spacing: 1;
}

.social-links{
  font-size: 40px;
}

.social-links a{
  color: black; 
}

.link {
  color: black;
}