html{
  background: url(../images/sky.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px rgb(115 80 160);
  color: rgb(153 186 187);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.frontPage{
  text-align: center;
  font-size: 4.5em;
  letter-spacing: 0.1em;
  margin-top: -30px;
}

.frontPage2{
  max-width: 1000px;
  margin: 0 auto;
}

#crater-pic{
  width: 100%;
  margin-left: -20px;
  margin-top: -20px;
}

.contactPage{
  max-width: 250px;
  filter: invert(86%) sepia(21%) saturate(266%) hue-rotate(133deg) brightness(81%) contrast(89%);
  margin: 0 auto;
}

#insta-pic{
  width: 100%;
  margin-left: 14px;
  margin-top: 150px;
}

.header{
  font-weight: 100;
  letter-spacing: 10;
  font-size: 550%;
  align-items: center;
  justify-content: center;
  margin-top: -78px;
  display: flex;
}

h5{
  font-weight: 200;
  letter-spacing: 1;
  text-align: left; 
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(153 186 187);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: rgb(153 186 187);
  padding: 10px 15px;
  border: none;
  z-index: 1;
  position: fixed;
}

.openbtn:hover {
  background-color: rgb(115 80 160);;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .frontPage {font-size: 26px;}
  .contactPage {max-width: 26px;}
  #crater-pic { width: 100px;}
  #insta-pic { width: 100px;}
}
