html{
  background: url(../images/spaceTile.png);
  background-repeat: repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px rgb(115 80 160);
  color: rgb(153 186 187);
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.frontPage{
  text-align: center;
  font-size: 4.5em;
  letter-spacing: 0.1em;
  margin-top: -30px;
}

.frontPage2{
  max-width: 300px;
  margin: 0 auto;
}


.productPage{
  max-width: 400px;
  margin: 0 auto;
  margin-top: -25px;
}

#crater-pic{
  width: 100%;
  margin-left: 5px;
  margin-top: 25px;
  animation-name: spin;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#noRotation {
  width: 100%;
  margin-left: 5px;
  margin-top: 25px;
}

#slideshow {
  width: 100%;
  box-shadow: 4px 4px rgb(115 80 160);
  border-width: 4px;
  border-color: rgb(153 186 187);
  border-style: solid;
  border-radius: 5%;
  margin-top: 25px;
}

#insta-pic{
  width: 100%;
  margin-left: 5px;
  margin-top: 50px;
}

.contactPage{
  max-width: 300px;
  filter: invert(86%) sepia(21%) saturate(266%) hue-rotate(133deg) brightness(81%) contrast(89%) drop-shadow(2px 2px #7350a0) !important;
  -webkit-filter: drop-shadow(2px 2px #7350a0);
  margin: 0 auto;
}

.header{
  font-weight: 100;
  letter-spacing: 10;
  font-size: 50%;
  align-items: center;
  justify-content: center;
  margin-top: -78px;
  display: flex;
}

.aboutText {
  font-weight: 10;
  letter-spacing: 0.1em;
  text-align: center;
}

#buttonBuy {
  margin-left: 200px;
  margin-top: -190px;
  width: 100%;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(153 186 187);
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: rgb(153 186 187);
  padding: 10px 15px;
  border: none;
  z-index: 1;
  position: fixed;
}


.openbtn:hover {
  background-color: rgb(115 80 160);;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .frontPage {font-size: 26px;}
  .contactPage {max-width: 26px;}
  #crater-pic { width: 100px;}
  #insta-pic { width: 100px;}
  #noRotation { width: 50px;}
  #buttonBuy { width: 50px;}
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
.glitch {
  position: relative;
  margin: 0 auto;
  text-shadow: 2px 2px rgb(115 80 160);
  color: rgb(153 186 187);
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: lowercase;
  transform: scale3d(1, 1, 1);
  letter-spacing: 0.1em;
}
.glitch::before, .glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  color: rgb(153 186 187);
  clip: rect(0, 900px, 0, 0);
}
.glitch::before {
  left: 7px;
  text-shadow: 1px 0 red;
  animation: glitch-effect 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: 3px;
  text-shadow: -1px 0 blue;
  animation: glitch-effect 2s infinite linear alternate-reverse;
}
@keyframes glitch-effect {
  0% {
    clip: rect(40px, 9999px, 19px, 0);
 }
  5% {
    clip: rect(24px, 9999px, 9px, 0);
 }
  10% {
    clip: rect(2px, 9999px, 64px, 0);
 }
  15% {
    clip: rect(22px, 9999px, 42px, 0);
 }
  20% {
    clip: rect(52px, 9999px, 25px, 0);
 }
  25% {
    clip: rect(67px, 9999px, 43px, 0);
 }
  30% {
    clip: rect(31px, 9999px, 8px, 0);
 }
  35% {
    clip: rect(50px, 9999px, 78px, 0);
 }
  40% {
    clip: rect(7px, 9999px, 38px, 0);
 }
  45% {
    clip: rect(88px, 9999px, 19px, 0);
 }
  50% {
    clip: rect(28px, 9999px, 33px, 0);
 }
  55% {
    clip: rect(48px, 9999px, 31px, 0);
 }
  60% {
    clip: rect(24px, 9999px, 71px, 0);
 }
  65% {
    clip: rect(51px, 9999px, 65px, 0);
 }
  70% {
    clip: rect(45px, 9999px, 14px, 0);
 }
  75% {
    clip: rect(67px, 9999px, 7px, 0);
 }
  80% {
    clip: rect(14px, 9999px, 7px, 0);
 }
  85% {
    clip: rect(59px, 9999px, 79px, 0);
 }
  90% {
    clip: rect(62px, 9999px, 63px, 0);
 }
  95% {
    clip: rect(72px, 9999px, 86px, 0);
 }
  100% {
    clip: rect(5px, 9999px, 89px, 0);
 }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 300px;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  color: rgb(153 186 187);
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(115 80 160);
  border-radius: 100%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgb(153 186 187);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
